 Q1. List any five functions of the pandas library with execution

In [ ]:
# 1.read_csv: This function is used to read data from a CSV file and create a DataFrame.
# 2.head: This function displays the first few rows of a DataFrame, giving you a quick overview of the data.
# 3.describe: This function provides summary statistics of the DataFrame's numeric columns, like mean, min, max, etc.
# 4.groupby: This function is used to group data based on one or more columns and perform aggregate operations.
# 5.plot: This function allows you to create various types of plots directly from a DataFrame.

In [7]:
import pandas as pd

# Reading a CSV file into a DataFrame
df = pd.read_csv("services.csv")

print(df.head())

# Display the first 5 rows of the DataFrame
print(df.head())

# Display summary statistics of numeric columns
print(df.describe())

# Grouping by 'Category' column and calculating mean of 'Value' column
grouped = df.groupby('Category')['Survived'].mean()
print(grouped)

import matplotlib.pyplot as plt

# Plotting a bar chart of 'Value' column
df.plot(kind='bar', x='Category', y='Value')
plt.show()

   id  location_id  program_id accepted_payments alternate_name  \
0   1            1         NaN               NaN            NaN
1   2            2         NaN               NaN            NaN
2   3            3         NaN               NaN            NaN
3   4            4         NaN               NaN            NaN
4   5            5         NaN               NaN            NaN

                           application_process  \
0                   Walk in or apply by phone.
1           Apply by phone for an appointment.
2  Phone for information (403-4300 Ext. 4322).
3                              Apply by phone.
4                       Phone for information.

                                            audience  \
0  Older adults age 55 or over, ethnic minorities...
1       Residents of San Mateo County age 55 or over
2  Older adults age 55 or over who can benefit fr...
3  Parents, children, families with problems of c...
4  Low-income working families with children tran...

                                         description  \
0  A walk-in center for older adults that provide...
1  Provides training and job placement to eligibl...
2  Offers supportive counseling services to San M...
3  Provides supervised visitation services and a ...
4  Provides fixed 8% short term loans to eligible...

                                         eligibility email  ...  \
0  Age 55 or over for most programs, age 60 or ov...   NaN  ...
1  Age 55 or over, county resident and willing an...   NaN  ...
2        Resident of San Mateo County age 55 or over   NaN  ...
3                                                NaN   NaN  ...
4  Eligibility: Low-income family with legal cust...   NaN  ...

  interpretation_services                                           keywords  \
0                     NaN  ADULT PROTECTION AND CARE SERVICES, Meal Sites...
1                     NaN  EMPLOYMENT/TRAINING SERVICES, Job Development,...
2                     NaN  Geriatric Counseling, Older Adults, Gay, Lesbi...
3                     NaN  INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...
4                     NaN     COMMUNITY SERVICES, Speakers, Automobile Loans

  languages                               name required_documents  \
0       NaN    Fair Oaks Adult Activity Center                NaN
1       NaN   Second Career Employment Program                NaN
2       NaN             Senior Peer Counseling                NaN
3       NaN           Family Visitation Center                NaN
4       NaN  Economic Self-Sufficiency Program                NaN

      service_areas  status wait_time website taxonomy_ids
0             Colma  active  No wait.     NaN          NaN
1  San Mateo County  active   Varies.     NaN          NaN
2  San Mateo County  active   Varies.     NaN          NaN
3  San Mateo County  active  No wait.     NaN          NaN
4  San Mateo County  active       NaN     NaN          NaN

[5 rows x 22 columns]
   id  location_id  program_id accepted_payments alternate_name  \
0   1            1         NaN               NaN            NaN
1   2            2         NaN               NaN            NaN
2   3            3         NaN               NaN            NaN
3   4            4         NaN               NaN            NaN
4   5            5         NaN               NaN            NaN

                           application_process  \
0                   Walk in or apply by phone.
1           Apply by phone for an appointment.
2  Phone for information (403-4300 Ext. 4322).
3                              Apply by phone.
4                       Phone for information.

                                            audience  \
0  Older adults age 55 or over, ethnic minorities...
1       Residents of San Mateo County age 55 or over
2  Older adults age 55 or over who can benefit fr...
3  Parents, children, families with problems of c...
4  Low-income working families with children tran...

                                         description  \
0  A walk-in center for older adults that provide...
1  Provides training and job placement to eligibl...
2  Offers supportive counseling services to San M...
3  Provides supervised visitation services and a ...
4  Provides fixed 8% short term loans to eligible...

                                         eligibility email  ...  \
0  Age 55 or over for most programs, age 60 or ov...   NaN  ...
1  Age 55 or over, county resident and willing an...   NaN  ...
2        Resident of San Mateo County age 55 or over   NaN  ...
3                                                NaN   NaN  ...
4  Eligibility: Low-income family with legal cust...   NaN  ...

  interpretation_services                                           keywords  \
0                     NaN  ADULT PROTECTION AND CARE SERVICES, Meal Sites...
1                     NaN  EMPLOYMENT/TRAINING SERVICES, Job Development,...
2                     NaN  Geriatric Counseling, Older Adults, Gay, Lesbi...
3                     NaN  INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...
4                     NaN     COMMUNITY SERVICES, Speakers, Automobile Loans

  languages                               name required_documents  \
0       NaN    Fair Oaks Adult Activity Center                NaN
1       NaN   Second Career Employment Program                NaN
2       NaN             Senior Peer Counseling                NaN
3       NaN           Family Visitation Center                NaN
4       NaN  Economic Self-Sufficiency Program                NaN

      service_areas  status wait_time website taxonomy_ids
0             Colma  active  No wait.     NaN          NaN
1  San Mateo County  active   Varies.     NaN          NaN
2  San Mateo County  active   Varies.     NaN          NaN
3  San Mateo County  active  No wait.     NaN          NaN
4  San Mateo County  active       NaN     NaN          NaN

[5 rows x 22 columns]
             id  location_id  program_id
count  23.00000    23.000000         0.0
mean   12.00000    11.956522         NaN
std     6.78233     6.711444         NaN
min     1.00000     1.000000         NaN
25%     6.50000     6.500000         NaN
50%    12.00000    12.000000         NaN
75%    17.50000    17.500000         NaN
max    23.00000    22.000000         NaN

KeyError: 'Category'

In [1]:
import pandas as pd

In [2]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [8]:
import pandas as pd
mydata ={
    'A' :[1,2,3],
    'B': [4.0,'a',5],
    'C' :[3,5,6]
}
df = pd.DataFrame(mydata)
df.reindex([2,4,6])

     A    B    C
2  3.0    5  6.0
4  NaN  NaN  NaN
6  NaN  NaN  NaN

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [9]:
import pandas as pd
mydata = {
 'val' : [10, 20, 30, 40, 50]}
df=pd.DataFrame( mydata)
# df2 = df['val'].apply()

s4 = pd.Series([3,4,5,6,6] , index=[2,4,5,6,1])
s1 = pd.Series([10,20,30,40,50], index=[1,4,6,8,10])
s1

1     10
4     20
6     30
8     40
10    50
dtype: int64

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [ ]:
import pandas as pd

def add_word_count_column(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(x.split()))
    return df

# Example usage
data = {'Text': ["Hello there", "How's it going?", "Just chilling and enjoying"]}
df = pd.DataFrame(data)

# Adding the 'Word_Count' column
df_with_word_count = add_word_count_column(df)
print(df_with_word_count)

 Q5. How are DataFrame.size() and DataFrame.shape() different?
Ans :-`DataFrame.size` and `DataFrame.shape` are attributes in Pandas DataFrames,
1. DataFrame.size: This attribute gives you the total number of elements in the DataFrame. It's calculated as the product of the number of rows and the number of columns. So, if you have a DataFrame with 5 rows and 3 columns, the `DataFrame.size` would be 15.

2.DataFrame.shape:This attribute returns a tuple representing the dimensions of the DataFrame. It gives you two values: the number of rows and the number of columns. For the same DataFrame as above, `DataFrame.shape` would be `(5, 3)`.

In essence, `DataFrame.size` gives you the total count of elements (cells) in the DataFrame, while `DataFrame.shape` provides the dimensions (rows and columns) of the DataFrame. Keep in mind these differences when working with Pandas DataFrames, bro!

In [10]:
import pandas as pd

# Creating a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 28],
        'City': ['New York', 'Los Angeles', 'Chicago']}

df = pd.DataFrame(data)

# Using DataFrame.size
size = df.size  # This will be 3 (rows) * 3 (columns) = 9
print("DataFrame.size:", size)

# Using DataFrame.shape
shape = df.shape  # This will be a tuple (3, 3) representing 3 rows and 3 columns
print("DataFrame.shape:", shape)

DataFrame.size: 9
DataFrame.shape: (3, 3)

Q6. Which function of pandas do we use to read an excel file?

In [ ]:
import pandas as pd

# Replace 'file_path.xlsx' with the actual path to your Excel file
df = pd.read_excel('sya.xlsx')

# Now 'df' contains the data from the Excel file in a DataFrame
print(df)

 Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.

In [11]:
def strsplit(email):
    user = email.split('@')[0]
    return user

data = {'Email': ['tom.smith@example.com', 'jerry.brown@example.com', 'rob.jones@example.com']}
df = pd.DataFrame(data)

df['username'] = df['Email'].apply(strsplit)
df

                     Email     username
0    tom.smith@example.com    tom.smith
1  jerry.brown@example.com  jerry.brown
2    rob.jones@example.com    rob.jones

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.

For example, if df contains the following values:

   A   B   C

0  3   5   1

1  8   2   7

2  6   9   4

3  2   3   5

4  9   1   2

Your function should select the following rows:   A   B   C

1  8   2   7

4  9   1   2

The function should return a new DataFrame that contains only the selected rows

In [12]:
import pandas as pd

def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows

# Example usage
data = {'A': [3, 8, 6, 2, 9],
        'B': [5, 2, 9, 3, 1],
        'C': [1, 7, 4, 5, 2]}

df = pd.DataFrame(data)

# Selecting rows
selected_df = select_rows(df)
print(selected_df[0:3:2])

   A  B  C
1  8  2  7
4  9  1  2

 Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day

In [13]:
import pandas as pd

def calculate_moving_average(df):
    window_size = 7

    # Convert the 'Date' column to datetime if it's not already
    df['Date'] = pd.to_datetime(df['Date'])

    # Sort DataFrame by date
    df.sort_values(by='Date', inplace=True)

    # Calculate the moving average using rolling and mean functions
    df['MovingAverage'] = df['Sales'].rolling(window=window_size, min_periods=1).mean()

    return df

# Example usage
data = {'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05', '2023-01-06', '2023-01-07'],
        'Sales': [10, 15, 20, 25, 30, 35, 40]}

df = pd.DataFrame(data)

# Calculate moving average
df_with_ma = calculate_moving_average(df)
print(df_with_ma)

        Date  Sales  MovingAverage
0 2023-01-01     10           10.0
1 2023-01-02     15           12.5
2 2023-01-03     20           15.0
3 2023-01-04     25           17.5
4 2023-01-05     30           20.0
5 2023-01-06     35           22.5
6 2023-01-07     40           25.0

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.

For example, if df contains the following values:

         Date

0  2023-01-01

1  2023-01-02

2  2023-01-03

3  2023-01-04

4  2023-01-05

Your function should create the following DataFrame:


         Date    Weekday

0  2023-01-01    Sunday

1  2023-01-02     Monday

2  2023-01-03    Tuesday

3  2023-01-04    Wednesday

4  2023-01-05    Thursday

The function should return the modified DataFrame.

In [14]:
import pandas as pd

def add_weekday_column(df):
    df['Date'] = pd.to_datetime(df['Date'])  # Convert 'Date' column to datetime if not already
    df['Weekday'] = df['Date'].dt.strftime('%A')  # Extract weekday name and add to new column
    return df

# Example usage
data = {'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']}

df = pd.DataFrame(data)

# Add 'Weekday' column
df_with_weekday = add_weekday_column(df)
print(df_with_weekday)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

 Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [15]:
import pandas as pd

def select_rows_between_dates(df):
    start_date = '2023-01-01'
    end_date = '2023-01-31'

    # Convert the 'Date' column to datetime if it's not already
    df['Date'] = pd.to_datetime(df['Date'])

    selected_rows = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
    return selected_rows

# Example usage
data = {'Date': ['2023-01-15', '2023-01-25', '2023-02-05', '2023-01-10']}
df = pd.DataFrame(data)

# Selecting rows between dates
selected_df = select_rows_between_dates(df)
print(selected_df)

        Date
0 2023-01-15
1 2023-01-25
3 2023-01-10

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

Ans :- import pandas as pd